// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "../lib/ionicons-2.0.1/scss/ionicons";
@import "~vue-snotify/styles/dark";

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.text-gray-100 { color: #ddd;}
.text-gray-200 { color: #c0c0c0;}
.text-gray-300 { color: #a0a0a0;}
.text-gray-400 { color: #999;}
.text-gray-500 { color: #666;}
.text-gray-600 { color: #333;}
.text-1x { font-size: 1em;}
.text-2x { font-size: 1.4em;}
.text-3x { font-size: 1.8em;}
.text-4x { font-size: 2.2em;}
.text-5x { font-size: 2.6em;}
.text-6x { font-size: 3.0em;}
.text-7x { font-size: 3.4em;}

.flip-x {
  transform: scaleX(-1);
}

#simpleLogo {
  background: url("../images/The_McPherson_University_logo.png") no-repeat right top;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 0 auto auto;
}

.auth-card {
  box-shadow: 2px 2px 6px rgba(150, 150, 150, 0.4);
  background-color: #fff;

  h4 {
    text-align: center;
    padding: 2rem 2rem 0 2rem;
  }

  .card-body {
    padding: 2rem;
  }
}

.stack-menu {
  height: 80vh;
  overflow: auto;
}

.module-menu-items {
  display: grid;
  justify-content: end;
  grid-template-rows: 80px;
  grid-template-columns: 80px;
  grid-gap: 12px;

  .module-menu {
    border-radius: 6px;
    background-color: #f0f8ff;
    padding: 6px;
    color: #1b4b72;
    text-align: center;
    border: 1px solid #1b4b72;

    .module-menu-icon {
      display: inline-block;
      font-size: 2em;
    }

    .module-menu-name {
    }

  }
}

.hand-display {
  text-align: center;
  color: #c0dfff;
  font-size: 14rem;
  line-height: 0;
}

.fingerprint-display {
  width: 70px;

  .indicator {
    width: 64px;
    height: 64px;
    background: rgba(200, 200, 200, 0.5);
    border-radius: 6px;
    margin: 0 auto;
  }

  .label {
    font-size: 11px;
    color: #808080;
    text-align: center;
  }

  &.disabled .indicator {
    background: rgba(200, 200, 200, 0.2);
  }
}